<div class="overflow-x-auto">
    <table class="table table-pin-rows table-lg">
        <thead class="text-xl">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th>Networks</th>
        </tr>
        </thead>
        <tbody>
        {% for dc in items %}
        <tr>
            <td>{{ dc.code}}</td>
            <td>{{ dc.name}}</td>
            <td>{{ dc.datacenter_status.code}}</td>

            <td>
                <div class="flex gap-2">
                {% for cidr in dc.networks %}
                    <span class="inline-flex items-center gap-1 rounded-full bg-secondary px-2 py-1 text-xs font-semibold"> D{{cidr.cidr}}</span>
<!--                        <div class="stat-desc">{{cidr.number_of_free_ips}} addresses available</div>-->
<!--                    </div>-->
                {% endfor %}
                </div>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>